{extend name="common/base" /}

{block name="main"}
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">女儿</button>
                        <button class="btn btn-white btn-xs" type="button">态度</button>
                        <button class="btn btn-white btn-xs" type="button">smile</button>
                    </div>
                    <div class="text-center article-title">
                        <h1>
                            1 太在意别人对我的看法怎么办？
                        </h1>
                    </div>

                        <h2>其实说到底，就是这个主题，心态问题。</h2>
                        <p>首先就是要明白，你活着，是为了什么。是为了给别人看，让别人认同么？我觉得不全是，更重要的是自己活得满足。我个人更喜欢拿自己和自己做比较，我今天的自己是不是比昨天更进步了一点，还是更堕落一点。每天进步一点点也是进步，我觉得只要能持续的进步下去，人活得就很有意义，很满足。
                        </p><br> <p> 第二点就是成功的定义。如果你对于成功只有唯一的一个标准，比如说，有100万存款，那在达成这个目标之前，你一直都会处于非成功，也就是失败状态。这样的定位很不好。你会觉得很沮丧。我觉得生活中每天都可以成功。比如我制订了一个新的健身计划，一周以后，我完全执行了，这就是成功。处处都可以得到成功，这种满足感、成就感是来自你自身，而不是大众的价值观。
                        </p><br> <p></p>最后，就是不要把自己看的太大。我的意思是，你在人群之中，并不是那么扎眼。就像一天早上没洗脸，上街会感觉所有喵到自己的人都会注意到自己眼眶内的眼屎。其实你走在大街上，没事谁会观察每一个人的眼睛里有没有眼屎啊。只要换位思考一下，就会发现，其实有时候你做了一个举动，貌似全世界都静止了，都在注视着你，其实都是自己想象出来的，大家没有因为你改变什么。你只是匆匆过客而已。话说回来了，就说大家会注意到你，会评价你，但又会对你怎样呢？很多网络事件引起全国网民的关注，过一段时间，不也都记不住了么，何况你是一个在普通不过，都不值得提起的人。
                    <br><br>
                        <p><img src="img/z0.jpg" alt=""></p>
                    <hr>



                </div>
            </div>
        </div>
    </div>

</div>
{/block}

{block name="js"}
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="js/content.js?v=1.0.0"></script>
{/block}