<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>你看的清?</title>
    <link rel="stylesheet" href="js/geek_z/q/index.css">
    <script src="js/geek_z/q/modernizr.min.js"></script>
    <script src="js/geek_z/q/app.js"></script>
</head>
<body>
<div style="text-align:center">
    <div class="slider" id="slider-range"></div>
    <div class="slider" id="slider-test"></div>
    <canvas id="canvasOne" width="900" height="520" ></canvas>
</div>
</body>
</html>