{extend name="common/base" /}

{block name="main"}
<div class="middle-box text-center animated fadeInDown">
    <h1>4004</h1>
    <h3 class="font-bold">access denied</h3>

    <div class="error-desc">
        <h5>站长暂未开放该页面...</h5>
        <br/>您可以返回主页看看
        <br/><a href="{:url('Blog/index')}" class="btn btn-primary m-t">主页</a>
    </div>
</div>
{/block}

{block name="js"}
<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>

{/block}